main{
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    grid-gap: 5px;
    width: 360px;
    margin: 30px auto;
}

.gra {
    cursor: pointer;
    font-size: 110px;
    text-align: center;
    border:1px solid black;
    width: 120px;
    height: 120px;
}